html,
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
    margin: 0;
    padding: 0;
	text-align: center;
	background-color: #EFEFEF;
    box-sizing: border-box;
}
a:link {
  text-decoration: none;
  color:inherit;
}
a:hover {
  text-decoration: none;
  color:inherit;
  border-bottom: none;
}

/*********** Type ***********/

h1, .H1 {
	font-weight: 700;
	font-size: 3.85rem;
	line-height: 5.5rem;
	color: white;
	text-align: center;
}
h2, .h2 {
	font-weight: 400;
	font-size: 1.285rem;
	line-height: 1.9rem;
	color: white;
	text-align: center;
}
h3, .H3 {
	color: #096CE0;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 2rem;
	padding-bottom: 1.05rem;
}
p, .p {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.65rem;
	color: #333333;
	text-align: left;
}
.home2_h1{
	font-family: 'Noto Serif', serif;
	font-weight: 400;
	font-size: 4.15rem;
	color: white;
	text-align: center;
	text-shadow: 0 0 5px #000000;
}
.home2_h2{
	font-family: 'Noto Serif', serif;
	font-weight: 400;
	font-size: 1.275rem;
	letter-spacing: .075rem;
	line-height: 1.95rem;
	color: white;
	text-align: center;
	text-shadow: 0 0 5px #000000;
}


/*********** common helpers ***********/


.color_gray{
  color: #EFEFEF;
}
.color_midgray{
  background-color: #DEDEDE;
}
.color_black{
	color: black;
}
.color_blue{
  color: #096CE0;
}
.color_white{
	color: white;
}
.gradient_blue{
	background: linear-gradient(180deg, #14A5F2 0%, #096CE0 100%);
}
.aTag {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.aTag_hero {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.hide {
  display: none;
}


/*********** TOP HOME 1 ***********/


.home_text_wrapper{
    padding: 100px 0px 100px 0px;
}
.home_top_text_width{
    width: 100%;
    max-width: 640px;
    margin: auto;
 }
.home_top_rule{
	width: 150px;
	height: 6px;
	background-color: white;
	margin: 40px auto;
}
.home_top_subtext{
	margin: 30px auto 10px;
}
.hero_1{
	
}


/*********** TOP HOME 2 ***********/


.home2_top_text_width{
    width: 100%;
    max-width: 640px;
    margin: auto;
    position: relative;
    z-index: 1;
 }
.home2_image_bg{
	display: block;
    position: relative;
	background-image: url("../images/index2_hero_image.jpg");
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	text-align: center;
}
.color_layer{
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.hero_2{
	
}


/*********** Bottom ***********/


.home_bottom_section{
	width: 100%;
	max-width: 960px;
	margin: auto;
	padding: 20px;
	box-sizing: border-box;
}
.home_card_container {
    display: flex;
    align-items: stretch;
}
.home_card {
	position: relative;
    background-color: white;
    border: 1px solid lightgray;
    margin: 6px;
    padding: 35px 20px;
/*    width: 270px;*/
    text-align: left;
}
.home_card_container a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}


/*********** MEDIA QUERIES ***********/


@media screen and (min-width: 960px) {
	font-size: 3.85rem;
}

@media screen and (max-width: 768px) {
    .home_card_container {
    	flex-direction: column;
    	align-items: stretch;
	}
	.home_bottom_section{
		padding: 10px;
	}
	html,body {
		font-size: 13px;
	}
	h1, .home2_h1{
		font-size: 6.75vw;
		line-height: 3rem;
	}

}

@media screen and (max-width: 500px) {
	.home_text_wrapper{
    	padding: 50px 0px 50px 0px;
	}
	html,body {
		font-size: 12px;
	}
	h1, .home2_h1{
		font-size: 3rem;
		/*line-height: 2rem;*/
	}
}

/*@media screen and (max-width: 768px) {
    .home_card_container {
    	flex-direction: column;
    	align-items: stretch;
	}
	.home_bottom_section{
		padding: 10px;
	}
	.home_text_wrapper{
    	padding: 50px 0px 50px 0px;
	}
	html,body {
	font-size: 13px;
	}
}

@media screen and (max-width: 420px) {
	html,body {
	font-size: 12px;
	}
}*/


